// ======= Light Theme Variables ============
$light-theme__font-dark: hsl(230, 17%, 14%);
$light-theme__font-light: hsl(228, 12%, 44%);
$light-theme__card-bg: hsl(227, 47%, 96%);
$light-theme__bg: hsl(0, 0%, 100%);
$light-theme__header-bg: hsl(225, 100%, 98%);

// ======= Dark Theme Variables ============
$dark-theme__bg: hsl(230, 17%, 14%);
$dark-theme__header-bg: hsl(232, 19%, 15%);
$dark-theme__card-bg: hsl(228, 28%, 20%);
$dark-theme__font-dark: hsl(0, 0%, 100%);
$dark-theme__font-light: hsl(228, 34%, 66%);

// ======= Common Variables ============
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youTube: hsl(348, 97%, 39%);

$success: hsl(163, 72%, 41%);
$failure: hsl(356, 69%, 56%);
