@import "themes";
@import "variables";

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  // min-width: ;
  margin: 0 auto;
}

header {
  height: 35vh;
  margin-bottom: -5em;

  .header-content {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    h1 {
      font-weight: 700;
    }

    .leading {
      font-weight: bold;
      font-size: 0.9rem;
    }

    .toggle-text {
      color: grey;
      font-weight: bold;
    }
  }
}

.lg-card-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;

  .card__container {
    grid-column: span 3;
    border-radius: 0.4rem;

    .padding-div {
      padding-top: 3px;
    }
  }

  .lg-card {
    text-align: center;
    padding: 30px 0 20px 0;
    border-radius: 0 0 0.3rem 0.3rem;

    cursor: pointer;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      img {
        margin-right: 9px;
      }

      p {
        font-size: 0.8rem;
        font-weight: bold;
      }
    }

    &__number {
      font-size: 2.5rem;
      font-weight: bold;
    }

    &__text {
      margin-bottom: 25px;
      font-size: 0.7rem;
      letter-spacing: 0.2rem;
    }

    &__update {
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 0.8em;
        font-weight: bold;
        margin-left: 5px;
      }
    }
  }
}

.overview-title {
  margin: 50px 0 20px 0;
}

.sm-card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 20px;
  column-gap: 30px;
  margin-bottom: 4em;
  cursor: pointer;

  .sm-card {
    border-radius: 0.3rem;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;

    .top-div {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
    .bottom-div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;

      p {
        font-size: 2rem;
        font-weight: bold;
      }

      div {
        font-size: 0.8em;
        font-weight: bold;

        img {
          margin-right: 3px;
        }
      }

      .sm-update {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.success {
  color: $success;
}

.failure {
  color: $failure;
}

.facebook {
  background: $facebook;
}

.instagram {
  background: $instagram;
}

.twitter {
  background: $twitter;
}

.youtube {
  background: $youTube;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
